{% extends 'base.html' %}
{% block content %}

<h1>Crystal Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ crystal.name }}</span>
        <p>Hardness: {{ crystal.hardness }}</p>
        <p>Crystal Structure: {{ crystal.structure|linebreaks }}</p>
        <p>Color: {{ crystal.color }}</p>
        <p>Transparency: {{ crystal.transparency }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'crystals_update' crystal.id %}">Edit</a>
        <a href="{% url 'crystals_delete' crystal.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_aquired' crystal.id %}" method="POST">
      {% csrf_token %}
      {{ aquired_form.as_p }}
      <input type="submit" class="btn" value="Add Location">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Location</th></tr>
      </thead>
      <tbody>
        {% for aquired in crystal.aquired_set.all %}
          <tr>
            <td>{{aquired.date}}</td>
            <td>{{aquired.location}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ crystal.name }}'s Properties</h3>
      {% if crystal.props.count %}
        {% for prop in crystal.props.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ prop.property }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_prop' crystal.id prop.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Properties</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Properties</h3>
      {% if props.count %}
        {% for prop in props.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
               {{ prop.property }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_prop' crystal.id prop.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{crystal.property}} Already Has All Properties Available</h5>
      {% endif %}
    </div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });  
</script>  
{% endblock %}