{% extends 'base.html' %}
{% block content %}

<h1>Crystal List</h1>

{% for crystal in crystals %}
  <div class="card">
    <a href="{% url 'detail' crystal.id %}">
      <div class="card-content">
        <span class="card-title">{{ crystal.name }}</span>
        <p>Hardness: {{ crystal.hardness }}</p>
        <p>Structure: {{ crystal.structure }}</p>
        <p>Color: {{ crystal.color }}</p>
        <p>Transparency: {{ crystal.transparency }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}